<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vendor Dashboard</title>
    <link rel="stylesheet" href="/css/style.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

    <div class="layout">

        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="logo">LOGO</div>

            <nav class="menu">
                <a href="#" class="menu-item active">
                    <i class="bi bi-speedometer2"></i>
                    <span>Dashboard</span>
                    <i class="bi bi-chevron-right arrow"></i>
                </a>

                <a href="/pages/vendorMyProducts.html" class="menu-item">
                    <i class="bi bi-clipboard-data"></i>
                    <span>My products</span>
                    <i class="bi bi-chevron-right arrow"></i>
                </a>

                <a href="/pages/vendorOrders.html" class="menu-item">
                    <i class="bi bi-people"></i>
                    <span>Orders</span>
                    <i class="bi bi-chevron-right arrow"></i>
                </a>

                <a href="#" class="menu-item">
                    <i class="bi bi-bar-chart"></i>
                    <span>Sale statistics</span>
                    <i class="bi bi-chevron-right arrow"></i>
                </a>

                <a href="#" class="menu-item">

                    <span>Reviews</span>
                    <i class="bi bi-chevron-right arrow"></i>
                </a>
            </nav>

            <div class="bottom-menu">
                <a href="#" class="menu-item">
                    <i class="bi bi-gear"></i>
                    <span>Settings</span>
                    <i class="bi bi-chevron-right arrow"></i>
                </a>

                <a href="#" class="menu-item">
                    <i class="bi bi-box-arrow-left"></i>
                    <span class="logout">Sign Out</span>
                    <i class="bi bi-chevron-right arrow"></i>
                </a>
            </div>
        </aside>

        <!-- Main Area -->
        <main class="main">


            <header class="topbar">
                <div class="search-box">
                    <input type="text" placeholder="Search products, orders..." />
                    <i class="bi bi-search"></i>
                </div>

                <div class="profile">PFP</div>
            </header>

            <section class="content">

            </section>
        </main>

    </div>

</body>

</html>