html,
body{
    height:100%;
    margin:0;
}

.layout{
    display:flex;
    height:100vh;
}

.main{
    margin-top:70px;
    padding:30px;
    min-height:calc(100vh - 70px);
    overflow-y:auto;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}

.section-header h2 {
    color: var(--brand-red);
}

.right-side{
    margin-left:260px;
    transition:.3s ease;
}

.right-side.collapsed{
    margin-left:70px;
}