.sidebar {
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-right: 1px solid #ddd;
  position: sticky;
  top: 0;
  transition: 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 70px;
}