.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:260px;
    height:100vh;
    background:white;
    display:flex;
    flex-direction:column;
    border-right:1px solid var(--border);
    transition:.3s ease;
    z-index:1000;
}

.sidebar.collapsed{
    width:70px;
}