.banner-slider {
    width: 100%;
    height: 250px;

    border-radius: 16px;

    background: #ececec;

    overflow: hidden;
}

.item-slider {
    display: flex;
    gap: 20px;

    overflow-x: auto;
    scroll-behavior: smooth;

    padding-bottom: 10px;
}